/*reset default styles*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: Sans-Serif;
	/*reset Chrome user agent styles*/
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0px;
	-webkit-padding-after: 0px;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	/*reset Firefox user agent styles*/
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-before: 0px;
	-moz-padding-after: 0px;
	-moz-padding-start: 0px;
	-moz-padding-end: 0px;
}

/*navigation bar*/
.nav-bar {
	width: 100%;
	height: 60px;
	background-color: lightgrey;
	color: red;
	margin: 0 auto;
	padding left: 25px;
	padding right: 25px;
	display: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    line-height: 51px;
    font-size: 20px;
}

#home-link{
	padding-left: 25px;
}
#sign-up {
	float: right;
	padding-right: 25px;
}

/*sign up portion*/
.main-container {
	max-width: 1000px;
	height: 718px;
	background-color: grey;
	margin: 0 auto;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.sign-up-form {
	width: 460px;
	height: 410px;
	background-color: lightgrey;
	margin: 0 auto;
	border-radius: 3px;
	text-align: center;

}
legend {
	font-size: 38px;
	padding-bottom: 5px;
}

.labels-inputs {
	line-height: 35px;
	margin-top: 26px;
}

.labels-inputs-container {
	width: 290px;
	margin: 0 auto;
}

label {
	display: block;
	margin-top: 12px;
	float: left;
}

input {
	color: black;
	width: 290px;
  	padding: 15px;
  	font-size: 18px;
  	border-radius: 3px;
  	border: 2px solid #DCDCDC;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 210px;
    height: 54px;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    background-color: grey;
    color: white;
}

.already-member {
	padding-top: 15px;
}