/*reset default styles*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: Sans-Serif;
	/*reset Chrome user agent styles*/
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0px;
	-webkit-padding-after: 0px;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	/*reset Firefox user agent styles*/
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-before: 0px;
	-moz-padding-after: 0px;
	-moz-padding-start: 0px;
	-moz-padding-end: 0px;
}

input {
  	border-radius: 3px;
  	border: 2px solid #DCDCDC;
}

/*navigation bar*/
.nav-bar {
	width: 100%;
	height: 60px;
	background-color: lightgrey;
	color: red;
	margin: 0 auto;
	padding left: 25px;
	padding right: 25px;
	display: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    line-height: 51px;
    font-size: 20px;
}

#home-link{
	padding-left: 25px;
}
#sign-up {
	float: right;
	padding-right: 25px;
}

/*sign up portion*/
.main-container {
	max-width: 1000px;
	height: 718px;
	background-color: grey;
	margin: 0 auto;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.sign-up-form {
	width: 466px;
	height: 448px;
	background-color: lightgrey;
	margin: 0 auto;
	border-radius: 3px;
	text-align: center;
}

#intro{
	padding-top: 16px;
}

legend {
	font-size: 20px;
	margin-top: 10px;
	width: 290px;

}

.labels-inputs {
	line-height: 35px;
	margin-top: 26px;
}

.labels-inputs-container {
	width: 290px;
	margin: 0 auto;
}

.signup-label {
	display: block;
	margin-top: 12px;
	float: left;
}

.signup-input {
	color: black;
	width: 290px;
  	padding: 15px;
  	font-size: 18px;
}

.signup-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 210px;
    height: 54px;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    background-color: grey;
    color: white;
}

.already-member {
	padding-top: 15px;
}

/*Portfolio Page*/
/*Add form*/
.add-asset-form {
	background-color: #E8E8E8;
	height: 100px;
	width: 780px;
	padding: 10px;
	margin: 30px auto;
	border-radius: 4px;
}

#add-new-asset {
	font-size: 20px;
	margin-bottom: 8px;
}

.add {
	display: inline-block;
}

.new {
	display: block;
}

.add-button {
    width: 85px;
    height: 32px;
    margin-left: 18px;
    background-color: #A9A9A9;
    border-radius: 3px;
}

.name-container{

}

.target-container { 
	margin-left: 30px;
}

.current-container {
	margin-left: 30px
}

.name-input {
	width: 260px;
}

.value-input {
	width: 116px;
}

.target-input {
	width: 116px;
}