* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: Sans-Serif;
	/*reset Chrome user agent styles*/
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0px;
	-webkit-padding-after: 0px;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	/*reset Firefox user agent styles*/
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-before: 0px;
	-moz-padding-after: 0px;
	-moz-padding-start: 0px;
	-moz-padding-end: 0px;
/*	border: solid red 1px;*/
}

a:link {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

body{
	background:url(https://raw.githubusercontent.com/fulin426/node-capstone-portfolio-tracker/master/Images/charts-computer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
}

button{
	height: 46px;
    padding: 8px;
    background-color: #bf5050;
    color: white;
    border-radius: 3px;
    font-size: 22px;
    font-weight: bold;
    height: 46px;
    cursor:pointer;
}

input {
	width: 100%;
  	border-radius: 3px;
  	border: 2px solid #DCDCDC;
}

/*navigation bar*/
.nav-bar {
	width: 100%;
	height: 50px;
	background-color: #48abab;
	margin: 0 auto;
	display: fixed;
}

.nav-links-container {
 max-width: 95%;
 margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    line-height: 51px;
    font-size: 20px;
}

#home-link{
	font-weight: 24px;
}
#sign-up {
	float: right;
	font-weight: 20px;
}

/*landing page*/
.landing-button {
	width: 200px;
}

.landing-button {
	display: inline-block;
	margin: 10px;
}
/*sign up portion*/
.main-container {
	width: 100%;
	height: 718px;
	margin: 0 auto;
	display: flex;
  	align-items: center;
  	justify-content: center;
/*  	border: solid lightgrey 1px;*/
}

.sign-up-form {
	width: 420px;
	height: 448px;
	background-color: #F5F5F5;
	margin: 0 auto;
	border-radius: 3px;
	text-align: center;
}

#intro{
	font-size: 16px;
	padding-top: 10px;
}

legend {
	font-size: 24px;
	margin-top: 10px;
	max-width: 290px;

}

.labels-inputs {
	line-height: 35px;
	margin-top: 26px;
}

.labels-inputs-container {
	max-width: 290px;
	margin: 0 auto;
}

.signup-label {
	display: block;
	margin-top: 12px;
	float: left;
}

.signup-input {
	color: black;
	max-width: 290px;
  	padding: 15px;
  	font-size: 18px;
}

.signup-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 290px;
    padding: 8px;
}

.already-member {
	padding-top: 15px;
}

/*Portfolio Page*/
/*information section*/
.rebalance-info {
	display: block;
}

.rebalance-header {
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*Add form*/
.portfolio-body{
	max-width: 700px;
	margin: 0 auto;
}

.header {
	display: inline-block;
	height: 30px;
	padding: 5px;
	font-weight: 600;
}

.add-asset-form {
	background-color: #E8E8E8;
	max-height: 100px;
	padding: 10px;
	margin: 20px auto;
	border-radius: 4px;
}

#add-new-asset {
	font-size: 20px;
	margin-bottom: 8px;
	text-align: center;
}

.new {
	display: block;
}

.add-button {
    width: 85px;
    height: 40px;
    font-size: 20px;
    margin-left: 15px;
}

.name-container{

}

.target-container { 
	margin-left: 15px;
}

.current-container {
	margin-left: 15px
}

.name-input {
	max-width: 260px;
}

.value-input {
	max-width: 116px;
}

.target-input {
	max-width: 116px;
}

/*results section*/

.summary-container {
	width: 100%;
	margin: 0 auto;
}

.results-container {
	margin: 0 auto;
	max-width: 690px;
}	


.results-header {
	border-bottom: solid black 1px;
}

.result-name {
	max-width: 300px;
}

.current-value {
	max-width: 138px;
	text-align: right;
}

.current-percent {
	max-width: 90px;
	text-align: right;
}

.target-percent {
	max-width: 90px;
	text-align: right;
}

.results-item{
	background-color: #E8E8E8;
}

.item {
	display: inline-block;
	max-height: 34px;
	padding: 5px;
}

.result-number {
	text-align: right;
}

#total {
	text-align: right;
	font-weight: 600;
}

.analyze-button {
	width: 205px;
	height: 40px;
	float: right;
	margin-top: 8px;
	border-radius: 3px;
}

#chart-container {
	max-height: 450px;
	margin: 0 auto;
	display: block;
}



