* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: Sans-Serif;
	/*reset Chrome user agent styles*/
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-before: 0px;
	-webkit-padding-after: 0px;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
	/*reset Firefox user agent styles*/
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-before: 0px;
	-moz-padding-after: 0px;
	-moz-padding-start: 0px;
	-moz-padding-end: 0px;
}

a:link {
	color: #bf5050;
	font-weight: bold;
}

.body {
	background:url(https://raw.githubusercontent.com/fulin426/node-capstone-portfolio-tracker/master/public/Images/charts-computer-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

button{
	height: 46px;
    padding: 8px;
    background-color: #bf5050;
    color: white;
    border-radius: 3px;
    font-size: 22px;
    font-weight: bold;
    height: 46px;
    cursor:pointer;
}

input {
	width: 100%;
  	border-radius: 3px;
  	border: 2px solid #DCDCDC;
}

/*navigation bar*/
.nav-bar {
	width: 100%;
	height: 50px;
	background-color: #429d9d;
	margin: 0 auto;
	display: fixed;
}

.nav-links-container {
 max-width: 95%;
 margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    line-height: 51px;
    font-size: 20px;
}

.nav_link {
	color: white;
}

.nav-item {
	text-align: center;
}

#home-link {
    color: white;
    text-decoration: none;
}

#home-link:hover {
    color: black;
    
}

#welcome-user{
	font-weight: bold;
	float: right;
	color: white;
}

#sign-up {
	float: right;
	font-weight: 20px;
}

/*landing page*/
.landing-page-items {
	width: 100%;
	position: absolute;
	top: 20%;
}

.landing-page-buttons-wrapper {
	display: block;
	margin: 0 auto;
	align-items: flex-start;
    text-align: center;
}

.landing-button {
	width: 40%;
	max-height: 50px;
}

#landing-page-title {
	display: block;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    height: 98px;
    width: 50%;
    margin: 0 auto;
    background-color: #429d9d;
    color: white;
    line-height: 100px;
    border-radius: 2px;
}

#landing-intro {
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    width: 48%;
    margin: 5px auto;
    background-color: #429d9d;
    color: white;
    /* line-height: 80px; */
    border-radius: 2px;
    padding: 1rem;
}

#landing-intro p {
	padding-bottom: 1rem;
}


.landing-button {
	display: inline-block;
	margin: 10px;
}

.landing-page-intro {
	text-align: center;
	height: 50px;
	line-height: 25px
}
/*sign up portion*/
.main-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: absolute;
  	top: 8%;
}

.signup-login-form {
	width: 420px;
	height: 452px;
	background-color: #F5F5F5;
	margin: 0 auto;
	border-radius: 3px;
	text-align: center;
	border: solid lightgrey 1px;
}

legend {
	font-size: 24px;
	margin-top: 10px;
	max-width: 290px;

}

.labels-inputs {
	line-height: 35px;
	margin-top: 26px;
}

.labels-inputs-container {
	max-width: 290px;
	margin: 0 auto;
}

.signup-label {
	display: block;
	margin-top: 12px;
	float: left;
}

.signup-input {
	color: black;
	max-width: 290px;
  	padding: 15px;
  	font-size: 18px;
}

.signup-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 290px;
    padding: 8px;
}

.already-member {
	padding-top: 15px;
}

/*Portfolio Page*/
/*information section*/
.portfolio-background {
	width: 100%;
	height: 100%;
	background-color: white;
}

.rebalance-info {
	display: block;
}

.rebalance-header {
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*Add form*/
.portfolio-body{
	max-width: 700px;
	margin: 0 auto;
}
.add-asset-container{
	width: 100%;
}

.header {
	display: inline-block;
	font-size: 15px;
	height: 30px;
	padding: 5px;
}

.add-asset-form {
	background-color: #F5F5F5;
	max-height: 135px;
	padding: 6px;
	margin: 20px auto;
	border-radius: 4px;
	border: 1px solid lightgrey;
}

#add-new-asset {
	font-size: 20px;
	margin-bottom: 8px;
	text-align: center;
}

.new {
	display: block;
}
.submit-button-container{
	display: inline-block;
}

.add-button {
    max-width: 85px;
    height: 35px;
    font-size: 18px;
}

.name-container{
	width: 47%;
}

.target-container { 
	width: 14%;
	text-align: right;
}

.current-container {
	width: 20%;
	text-align: right;
}

.name-input {

}

.value-input {
	width: 100%;
	text-align: right;
}

.target-input {
	width: 100%;
	text-align: right;
}

/*results section*/
.summary-container {
	width: 100%;
	margin: 0 auto;
	background-color: #F5F5F5;
	border: solid lightgrey 1px;
	padding: 6px;
}

.results-container {
	margin: 0 auto;
	max-width: 690px;
}	


.results-header {
	background-color: #F5F5F5;
}

.result-name {
	width: 51%;
}

.current-value {
	width: 20%;
	text-align: right;
}

.asset-value {
	text-align: right
}

.current-percent {
	width: 13%;
	text-align: right;
}

.target-percent {
	width: 12%;
	text-align: right;
}

.results-item{
	background-color: #F5F5F5;
}

.item {
	display: inline-block;
	max-height: 34px;
	padding: 5px;
}

.target-number,.percentage-number,.target-number,.result-number {
	text-align: right;
}

#total {
	text-align: right;
	font-weight: 600;
}

#total-current-percent{
	margin-right: -4px;
}

.edit-delete-container {
	align-items: flex-start;
    text-align: center;
}

.edit-delete{
	margin: 0 auto;
	font-size: 18px;
	height: 35px;
	width: 18%;
	display: inline-block;
	margin: 3px 8px;
}

#edit-button {
	background-color: #339933;
}

#delete-button {
	background-color: #ff3333;
}

.analyze-button-container{
	height: 48px;
}

.analyze-button {
	width: 205px;
	height: 40px;
	float: right;
	margin-top: 4px;
	border-radius: 3px;
}

#chart-container {
	max-height: 450px;
	margin: 0 auto;
	display: block;
}

#portfolio-page {
	background-color: white;
}

/*footer*/
footer {
	display: none;
}

.logo_container{
	margin: 0 auto;
	margin-top: 18px;
	margin-bottom: 25px;
	width: 245px;
	text-align: center;
}

.contact_img {
	width: 38px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.contact_logo {
	width: 36px;
	cursor:pointer;
}

@media only screen and (min-width: 640px) {
body

.landing-button {
	width: 17%;
}

#landing-page-title {
	font-size: 48px;
	width: 48%;
	margin-bottom: 15px;
}

.main-container {
	height: 760px;
	position: static;
}

.header {
	background-color: #F5F5F5;
	font-weight: 600;
	font-size: 16px;
}
.add-button {
	font-size: 20px;
    width: 85px;
}

.name-container {
	width: 51%;
}

footer {
	display: block;
}
